<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MATDELAREN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/Styles.css" th:href="@{/css/Styles.css}" />

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{'/'}"><img src="/css/images/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'/'}">Hem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active-link" href="#">Ingredienser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/swagger-ui.html">Swagger</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-6 sub-popular">
            <h1>Lägg till ingredienser</h1>
            <div class="underline-line"></div>
            <ul>
                <p th:text="${ingredient.getDescription() +
                                '  ' + ingredient.getAmount() + ' ' + ingredient.getUnit()}"></p>
            </ul>
            <a class="btn btn-primary" href="#"
               th:href="@{'/recipe/' + ${recipeId} + '/ingredient/new'}" role="button">Lägg till ingredienser</a>
            <a class="btn btn-primary" href="#"
               th:href="@{'/recipe/view/' + ${recipeId} + '/'}" role="button">Fortsätt</a>
        </div>
    </div>
</div>
</body>
</html>
