<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MATDELAREN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/Styles.css" th:href="@{/css/Styles.css}" />

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{'/'}"><img src="/css/images/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'/'}">Hem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active-link" href="#">Kategorier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/swagger-ui.html">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-6 sub-popular">
            <h1>Lägg till kategori</h1>
            <div class="underline-line"></div>
        </div>
    </div>
</div>
<div class="container">
<form  th:object="${category}" th:action="@{'/recipe/' + ${category.getRecipeId()} + '/category'} " method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="col-md-6 sub-popular">
        <label class="h3">Description:</label>
        <div class="underline-line-sub"></div>
        <select class="h4" th:field="*{description}">
            <option class="h4" th:value="'Apertif'">Apertif</option>
            <option class="h4" th:value="'Meat'">Kött</option>
            <option class="h4" th:value="'Fish'">Fisk</option>
            <option class="h4" th:value="'Bird'">Fågel</option>
            <option class="h4" th:value="'Soup'">Soppa</option>
            <option class="h4" th:value="'Sides'">Tillbehör</option>
            <option class="h4" th:value="'Sauces'">Sås</option>
            <option class="h4" th:value="'Dessert'">Dessert</option>
            <option class="h4" th:value="'Buffe'">Buffe</option>
        </select>
        <button type="submit" class="btn btn-primary">Spara</button>
        <a class="btn btn-primary" href="#"
           th:href="@{'/recipe/show/' + ${recipeId} + '/'}" role="button">Tillbaka</a>
    </div>
</form>
</div>
<!--   <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Description:</label>
                            <select th:field="*{description}">
                                <option th:value="'Apertif'">Apertif</option>
                                <option th:value="'Meat'">Meat</option>
                                <option th:value="'Fish'">Fish</option>
                                <option th:value="'Bird'">Bird</option>
                                <option th:value="'Soup'">Soup</option>
                                <option th:value="'Sides'">Sides</option>
                                <option th:value="'Sauces'">Sauces</option>
                                <option th:value="'Dessert'">Dessert</option>
                                <option th:value="'Buffe'">Buffe</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>-->
</body>
</html>
